<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <link href="/static/filter/Fliter.css" rel="stylesheet"/>
    <link href="/static/css/tabStyle.css" rel="stylesheet" type="text/css">
    <script src="/static/js/tabScript.js" type="text/javascript"></script>
    <script src="/static/filter/Filter.js"></script>
    <style>
        #nav {
            line-height: 30px;
            background-color: #eeeeee;
            height: 1000px;
            width: 200px;
            float: left;
            padding: 5px;
        }

        #center {
            float: right;
            width: calc(100% - 210px);
        }

        li {
            float: left;
            list-style: none;
        }

        img {
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
<div id="nav">
    <h4>第一步:选择文件上传</h4>
    <form action="" method="post" enctype="multipart/form-data">
        <p>
            <input type="file" name="file" multiple>
            <input type=submit value="upload">
        </p>
    </form>
    <ul style="list-style: none;padding-left: 0" id="uploadFileList"></ul>
    <h4>第二步:图片浏览,选择对应标签</h4>
    <img id="showImage">
    <h4>第三步:保存生成的标签并生成JSON</h4>
    <span>缩放:</span>
    <select id="s1">
        <option selected="selected" value="">-</option>
    </select>
    <span>旋转:</span>
    <select id="s2">
        <option selected="selected" value="">-</option>
    </select>
{#    <span>背景:</span>#}
{#    <select id="s3">#}
{#        <option selected="selected" value="">-</option>#}
{#    </select>#}
    <span>模糊:</span>
    <select id="s4">
        <option selected="selected" value="">-</option>
    </select>
    <span>曝光:</span>
    <select id="s5">
        <option selected="selected" value="">-</option>
    </select>
    <span>噪声:</span>
    <select id="s6">
        <option selected="selected" value="">-</option>
    </select>
    <button id="create_json" type="button">生成JSON</button>
</div>

<div id="center">
    <ul class="tabs">
        <li><a id="tabOne" href="#" name=".tab1_1">缩放</a></li>
        <li><a id="tabTwo" href="#" name=".tab1_2">旋转</a></li>
{#        <li><a id="tabThree" href="#" name=".tab1_3">增加背景</a></li>#}
        <li><a id="tabFour" href="#" name=".tab1_4">模糊</a></li>
        <li><a id="tabFive" href="#" name=".tab1_5">曝光度</a></li>
        <li><a id="tabSix" href="#" name=".tab1_6">高斯噪声</a></li>
    </ul>
    <div class="content">
        <div class="tab1_1">
            <div id="scale"></div>
            <ul id="processImage1">
            </ul>
        </div>
        <div class="tab1_2">
            <div id="rotate"></div>
            <ul id="processImage2">
            </ul>
        </div>
{#        <div class="tab1_3">#}
{#            <div id="addsum"></div>#}
{#            <ul id="processImage3">#}
{#            </ul>#}
{#        </div>#}
         <div class="tab1_4">
            <div id="fuzzy"></div>
            <ul id="processImage4">
            </ul>
        </div>
        <div class="tab1_5">
            <div id="brighter_darker"></div>
            <ul id="processImage5">
            </ul>
        </div>
        <div class="tab1_6">
            <div id="gaussian_noise"></div>
            <ul id="processImage6">
            </ul>
        </div>
    </div>
</div>
<input hidden="hidden" id="old_value1" type="text" value="">
<input hidden="hidden" id="old_value2" type="text" value="">
{#<input hidden="hidden" id="old_value3" type="text" value="">#}
<input hidden="hidden" id="old_value4" type="text" value="">
<input hidden="hidden" id="old_value5" type="text" value="">
<input hidden="hidden" id="old_value6" type="text" value="">
<script type="text/javascript">
    //当前图片url全局变量
    var currentUrl;
    var currentImageName;
    var currentType = 1;
    var needCooperateId;

    //id等于拼装时的值,text是页面展示的值
    var data1 = [{"id": 0, "text": "0倍"}, {"id": 1, "text": "1倍"}, {"id": 2, "text": "2倍"}, {"id": 3, "text": "3倍"}, {"id": 4, "text": "4倍"}, {"id": 5, "text": "5倍"}, {"id": 6, "text": "6倍"}, {"id": 7, "text": "7倍"}, {"id": 8, "text": "8倍"}, {"id": 9, "text": "9倍"}, {"id": 10, "text": "10倍"}];

    var data2 = [{"id": -10, "text": "-10度"}, {"id": -9, "text": "-9度"}, {"id": -8, "text": "-8度"}, {"id": -7, "text": "-7度"}, {"id": -6, "text": "-6度"}, {"id": -5, "text": "-5度"}, {"id": -4, "text": "-4度"}, {"id": -3, "text": "-3度"}, {"id": -2, "text": "-2度"}, {"id": -1, "text": "-1度"}, {"id": 0, "text": "0度"}, {"id": 1, "text": "1度"}, {"id": 2, "text": "2度"}, {"id": 3, "text": "3度"}, {"id": 4, "text": "4度"}, {"id": 5, "text": "5度"}, {"id": 6, "text": "6度"}, {"id": 7, "text": "7度"}, {"id": 8, "text": "8度"}, {"id": 9, "text": "9度"}, {"id": 10, "text": "10度"}];

    {#var data3 = [{"id": 0, "text": "背景0"}, {"id": 1, "text": "背景1"}, {"id": 2, "text": "背景2"}, {"id": 3, "text": "背景3"}, {"id": 4, "text": "背景4"}, {"id": 5, "text": "背景5"}];#}

    var data4 = [{"id": 0, "text": "0倍"}, {"id": 1, "text": "1倍"}, {"id": 2, "text": "2倍"}, {"id": 3, "text": "3倍"}, {"id": 4, "text": "4倍"}, {"id": 5, "text": "5倍"}, {"id": 6, "text": "6倍"}, {"id": 7, "text": "7倍"}, {"id": 8, "text": "8倍"}, {"id": 9, "text": "9倍"}, {"id": 10, "text": "10倍"}];

    var data5 = [{"id": 0, "text": "0度"}, {"id": 1, "text": "1度"}, {"id": 2, "text": "2度"}, {"id": 3, "text": "3度"}];

    var data6 = [{"id": 0, "text": "0"}, {"id": 100, "text": "100"}, {"id": 200, "text": "200"}, {"id": 300, "text": "300"}, {"id": 400, "text": "400"}, {"id": 500, "text": "500"}, {"id": 600, "text": "600"}, {"id": 700, "text": "700"}, {"id": 800, "text": "800"}, {"id": 900, "text": "900"}, {"id": 1000, "text": "1000"}];

    //初始化
    $(function () {
        //加载tab页
        loadTab();
        //加载上部分勾选框和下部分单选框
        initSelect("scale","缩放",data1,1,"one");
        initSingleSelect("s1",data1);
        initSingleSelect("s2",data2);
        {#initSingleSelect("s3",data3);#}
        initSingleSelect("s4",data4);
        initSingleSelect("s5",data5);
        initSingleSelect("s6",data6);

        $.ajax({
            url: "view",
            type: "POST",
            dataType: "json",
            success: function (data) {
                var list = "";
                var map = data;
                for (var key in map) {
                    list += "<ol value='" + map[key] + "'>" + key + "</ol>";
                }
                $("#uploadFileList").append(list);
            }
        });

        //列表点击事件
        $('ul').on('click', 'ol', function () {
            var url = $(this).attr("value");
            var imgName = $(this).text();
            currentImageName = imgName;
            currentUrl = url;
            $("#showImage").attr("src", url);
            $(".J_FilterQueryClear").click();
        });


        $(".J_FilterQueryClear").click(function () {
            $("#processImage" + currentType).find("li").remove();
        });

        //生成JSON按钮点击事件
        $("#create_json").click(function () {
            var data = {};
            var op = [];
            var processType = {};
            data["image_path"] = currentImageName;

            var s1 = $("#s1").val();
            var s2 = $("#s2").val();
            {#var s3 = $("#s3").val();#}
            var s4 = $("#s4").val();
            var s5 = $("#s5").val();
            var s6 = $("#s6").val();

            if (s1 != null && s1 != "") {
                processType["name"] = "scale";
                processType["value"] = s1;
                op.push(processType);
            }
            if (s2 != null && s2 != "") {
                processType = {};
                processType["name"] = "rotate";
                processType["value"] = s2;
                op.push(processType);
            }
            {#if (s3 != null && s3 != "") {
                processType = {};
                processType["name"] = "addsum";
                processType["value"] = s3;
                op.push(processType);
            }#}
            if (s4 != null && s4 != "") {
                processType = {};
                processType["name"] = "fuzzy";
                processType["value"] = s4;
                op.push(processType);
            }
            if (s5 != null && s5 != "") {
                processType = {};
                processType["name"] = "brighter_darker";
                processType["value"] = s5;
                op.push(processType);
            }
            if (s6 != null && s6 != "") {
                processType = {};
                processType["name"] = "gaussian_noise";
                processType["value"] = s6;
                op.push(processType);
            }
            data["op"] = op;
            alert(JSON.stringify(data));
        });


        //tab页点击方法
        $("#tabOne").click(function () {
            emptyOldValue();
            initSelect("scale","缩放",data1,1,"one");
        });

        $("#tabTwo").click(function () {
            emptyOldValue();
            initSelect("rotate","旋转",data2,2,"two");
        });

       {# $("#tabThree").click(function () {
            emptyOldValue();
            initSelect("addsum","增加背景",data3,3,"three");
        });#}

        $("#tabFour").click(function () {
            emptyOldValue();
            initSelect("fuzzy","模糊",data4,4,"four");
        });

        $("#tabFive").click(function () {
            emptyOldValue();
            initSelect("brighter_darker","曝光度",data5,5,"five");
        });

        $("#tabSix").click(function () {
            emptyOldValue();
            initSelect("gaussian_noise","高斯噪声",data6,6,"six");
        });
    });

    //获取标签操作后的图片，增加展示
    function addLi(url, type, id) {
        var list = "<li id='" + id + type + "'>" + "<img src='" + url + "'>" + "</li>";
        if (type == "one") {
            $("#processImage1").append(list);
        } else if (type == "two") {
            $("#processImage2").append(list);
        } else if (type == "three") {
            $("#processImage3").append(list);
        }else if (type == "four"){
            $("#processImage4").append(list);
        } else if (type == "five"){
            $("#processImage5").append(list);
        } else {
            $("#processImage6").append(list);
        }
    }

    //初始化勾选框
    function initSelect(id,text,data,num,number) {
        $('#'+id).comboboxfilter({
            url: '',
            scope: 'FilterQuery2',
            multiple: true,
            unlimitText: text,
            data: data,
            onChange: function (newValue) {
                //找出不同元素，进行增加或者删除操作
                var oldValue = $("#old_value"+num).val();
                var curValue;
                if (oldValue != null && oldValue != "") {
                    oldValue = oldValue.split(",");
                } else {
                    oldValue = [];
                }
                if (newValue != null && newValue != "") {
                    curValue = newValue.split(",");
                } else {
                    curValue = [];
                }
                if (oldValue.length > curValue.length) {
                    findDifferent(oldValue, curValue);
                    $("#" + needCooperateId + number).remove();
                } else {
                    findDifferent(curValue, oldValue);
                    getProcessImage(currentImageName, num, needCooperateId);
                    addLi(currentUrl, number, needCooperateId);
                }

                //保存最新value到oldvalue以便下次进行比较
                $("#old_value"+num).val(newValue);
            }
        });
        //取消切换tab页后自动增加的隐藏样式,并设置当前tab页的全局标识
        $("#"+id).css("display", "block");
        $("#FilterQuery2").css("display", "block");
        $(".selected-query").css("display", "block");
        currentType = num;

        //清除图片和标签
        $(".J_FilterQueryClear").click();
        $("#processImage"+num).find("li").remove();
    }


    //初始化下拉框2
    function initSingleSelect(id,data) {
        var option = "";
        if (data != null){
            for (var i=0;i<data.length;i++){
                var val = data[i].id;
                var text = data[i].text;
                option += "<option value='"+val+"'>"+text+"</option>"
            }
            $("#"+id).append(option);
        }
    }


    //获取加工后的图片
    function getProcessImage(image, type, value) {
        var data = {};
        var op = [];
        var processType = {};
        data["image_path"] = image;
        switch (type) {
            case 1:
                processType["name"] = "scale";
                processType["value"] = value;
                op.push(processType);
                break;
            case 2:
                processType["name"] = "rotate";
                processType["value"] = value;
                op.push(processType);
                break;
            case 3:
                processType["name"] = "addsum";
                processType["value"] = value;
                op.push(processType);
                break;
            case 4:
                processType["name"] = "fuzzy";
                processType["value"] = value;
                op.push(processType);
                break;
            case 5:
                processType["name"] = "brighter_darker";
                processType["value"] = value;
                op.push(processType);
                break;
            case 6:
                processType["name"] = "gaussian_noise";
                processType["value"] = value;
                op.push(processType);
                break;
        }
        data["op"] = op;
        data = JSON.stringify(data);
        $.ajax({
            async: true,
            {#url: "http://172.19.2.11:5000/v1/img_transform",#}
            url: "getImageTest",
            type: "POST",
            data: data,
            dataType: "json",
            success: function (res) {
                if (res != null && res != "") {
                    currentUrl = "static/uploads/images/" + res;
                }
            }
        });
    }

    //找出两个数组中不同的元素,array1>array2
    function findDifferent(array1, array2) {
        var differValue;
        //判断标识是否需要继续循环
        var flag = false;
        for (var i = 0; i < array1.length; i++) {
            if (!flag) {
                differValue = array1[i];
                for (var j = 0; j < array2.length; j++) {
                    if (array1[i] == array2[j]) {
                        break;
                    } else {
                        if (j == array2.length - 1) {
                            flag = true;
                            differValue = array1[i];
                            break;
                        } else {
                            continue;
                        }
                    }
                }
            } else {
                break;
            }
        }
        needCooperateId = differValue;
    }

    
    //切换tab时清空所有oldvalue
    function emptyOldValue() {
        $("old_value1").val("");
        $("old_value2").val("");
        {#$("old_value3").val("");#}
        $("old_value4").val("");
        $("old_value5").val("");
        $("old_value6").val("");
    }
</script>
</body>
</html>


